body {
    padding: 50px;
}

p {
    cursor: pointer;
    margin: 0;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complete {
    text-decoration: line-through;
}